h1 {
    color: aqua;
    text-align: center;
    background-color: brown;
    border-radius: 10px;
    font-size: 32px;
    font-weight: bolder;
    font-style: italic;
}
.main {
    background-color: aquamarine;
    height: 500px;
    width: 100%;
    border: 2px solid black;
    margin-top: -20px;
}
ul {
    display: flex;
    justify-content: space-between;
}